.hero {
    padding: 2.25em;
    display: flex;
    flex-direction: column;
}

.hero-image {
    align-self: center;
    width: 60vw;
    max-width: 100%;
}

.hero-title {
    font-size: 2rem;
    margin-block: 1rem;
    font-weight: 600;
}

.hero-body {
    font-weight: 300;
    min-width: 320px;
    max-width: 50%;
    word-wrap:break-word;
}